*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    font-family: "Lato", sans-serif;
}

h1 {
    text-align: center;
    margin: 50px 0;
    text-transform: uppercase;
    font-size: 5em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.parent {
    border: 2px solid;
    height: 400px;
    width: 400px;
    padding: 20px;
    // .child {
    //     width: 200px;
    //     height: 200px;
    //     background-color: #13d8d5;
    // }
    img {
        // rotate: 135deg;
        // transform: rotate(45deg); // old way 
        // width: 400px;
        // height: 400px;
        // scale: 2;
        // transform: scale(2); // old way
        // translate x y
        // translate: 200px 300px
        // transform: translate(200px, 300px); // old way
        // transform: skew(10deg, 20deg);
    }
}

.btn {
    width: 120px;
    height: 40px;
    // border: 1px solid;
    display: block;
    margin: 20px auto;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #ec0e0e;
    color: #fff;
    transition: translate 0.3s;
    
    &:hover {
        // scale: 1.01
        translate: 1px 1px
    }
}



